@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body,ul,li,div,p,span,h1,h2,h3,h4,h5,h6,i,a{
margin: 0;padding:0;
} 
.mynavbar{
    background-color:  rgb(65, 53, 38) !important;
    padding: auto;
    border-radius: 20px;
    border-color: rgb(0, 255, 51);
    border-width: 20px;
    
}
.mylogo{
    height: 50px;
    size: larger;
}
.mynavbar a{
    color: rgb(21, 194, 21)!important;
    font-size: 15px;
    padding: 20px 50px !important;
    text-align: auto;
}
.mylogo{
    color: white;
}
.mynavbar a:hover{
    color: brown !important;
    border-bottom: 3px solid lightsalmon !important;
}
.container{
    padding-top: 20px;
    min-height: 600px;
    background-image:url(background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.home-text h1{
    color: aliceblue;
    padding: 10px 10px;
}
.home-text h2{
    color: aliceblue;
    padding: 10px 10px;
}
.home-text p{
    color: aliceblue;
    padding: 10px 10px;

}
.container-type{
    display: inline-block;
    color: rgb(0, 128, 77);
    font-size: 30px;
    padding: 10px 10px;
}
.typed-out{
    overflow: hidden;
    border-bottom: .15em solid rgb(3, 65, 79);
    border-end-end-radius:30px;
    white-space: nowrap;
    animation: 
      typing 3s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.home-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    size: smaller;
    width: 50%;
    height: 40px;
    background: black;
     color: brown;
     border-radius: 30px;
    text-decoration: none;
    margin: 30px 30px 0;
}
.home-icon a:hover{
    background: rgb(173, 163, 179);
    color: black;
    
}
.mybutton{
    margin-top: 35px;
    background-color: transparent !important;
    margin-left: 30px;
    color:rgb(248, 244, 244);
    box-shadow: 0 0 5px rgb(0, 0, 255),
    0 0 15px rgb(0, 255, 30);
    text-decoration: none;
}
.mybutton:hover{
    color: green;
    background-color: aqua;
}
.myimg{
    size: larger;
    
}
.about-text p{
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}
p span{
    color: green;
}
.about-img{
    color: white;
}
.about-img h5{
    color: white;
    padding-top: 30px;
}
.about-img iframe{
    height: 300px;
}
.about h1{
    color: green;
    text-align: center;

}